.cart-card{
    margin-bottom: 1rem;
    padding: 1rem;
    border:solid 1px #e4e4e4;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 3px 10px -3px #ccc;
    display: flex;
    gap: 1rem;

}
.cart-card-img{
    width: 100px;
    height: 100px;
    background-color: #eee;
    border-radius: 15px;
}
.cart-card-details h4{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.cart-card-details .cart-title{
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}