
.loader{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255 / 47%);
    z-index: 100;
}
.spiner {
    font-size: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em var(--clr-primary), 1.8em -1.8em 0 0em rgba(45, 104, 245, 0.2), 2.5em 0em 0 0em rgba(45, 104, 245, 0.2), 1.75em 1.75em 0 0em rgba(45, 104, 245, 0.2), 0em 2.5em 0 0em rgba(45, 104, 245, 0.2), -1.8em 1.8em 0 0em rgba(45, 104, 245, 0.2), -2.6em 0em 0 0em rgba(45, 104, 245, 0.5), -1.8em -1.8em 0 0em rgba(45, 104, 245, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 104, 245, 0.7), 1.8em -1.8em 0 0em var(--clr-primary), 2.5em 0em 0 0em rgba(45, 104, 245, 0.2), 1.75em 1.75em 0 0em rgba(45, 104, 245, 0.2), 0em 2.5em 0 0em rgba(45, 104, 245, 0.2), -1.8em 1.8em 0 0em rgba(45, 104, 245, 0.2), -2.6em 0em 0 0em rgba(45, 104, 245, 0.2), -1.8em -1.8em 0 0em rgba(45, 104, 245, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 104, 245, 0.5), 1.8em -1.8em 0 0em rgba(45, 104, 245, 0.7), 2.5em 0em 0 0em var(--clr-primary), 1.75em 1.75em 0 0em rgba(45, 104, 245, 0.2), 0em 2.5em 0 0em rgba(45, 104, 245, 0.2), -1.8em 1.8em 0 0em rgba(45, 104, 245, 0.2), -2.6em 0em 0 0em rgba(45, 104, 245, 0.2), -1.8em -1.8em 0 0em rgba(45, 104, 245, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 104, 245, 0.2), 1.8em -1.8em 0 0em rgba(45, 104, 245, 0.5), 2.5em 0em 0 0em rgba(45, 104, 245, 0.7), 1.75em 1.75em 0 0em var(--clr-primary), 0em 2.5em 0 0em rgba(45, 104, 245, 0.2), -1.8em 1.8em 0 0em rgba(45, 104, 245, 0.2), -2.6em 0em 0 0em rgba(45, 104, 245, 0.2), -1.8em -1.8em 0 0em rgba(45, 104, 245, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 104, 245, 0.2), 1.8em -1.8em 0 0em rgba(45, 104, 245, 0.2), 2.5em 0em 0 0em rgba(45, 104, 245, 0.5), 1.75em 1.75em 0 0em rgba(45, 104, 245, 0.7), 0em 2.5em 0 0em var(--clr-primary), -1.8em 1.8em 0 0em rgba(45, 104, 245, 0.2), -2.6em 0em 0 0em rgba(45, 104, 245, 0.2), -1.8em -1.8em 0 0em rgba(45, 104, 245, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 104, 245, 0.2), 1.8em -1.8em 0 0em rgba(45, 104, 245, 0.2), 2.5em 0em 0 0em rgba(45, 104, 245, 0.2), 1.75em 1.75em 0 0em rgba(45, 104, 245, 0.5), 0em 2.5em 0 0em rgba(45, 104, 245, 0.7), -1.8em 1.8em 0 0em var(--clr-primary), -2.6em 0em 0 0em rgba(45, 104, 245, 0.2), -1.8em -1.8em 0 0em rgba(45, 104, 245, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 104, 245, 0.2), 1.8em -1.8em 0 0em rgba(45, 104, 245, 0.2), 2.5em 0em 0 0em rgba(45, 104, 245, 0.2), 1.75em 1.75em 0 0em rgba(45, 104, 245, 0.2), 0em 2.5em 0 0em rgba(45, 104, 245, 0.5), -1.8em 1.8em 0 0em rgba(45, 104, 245, 0.7), -2.6em 0em 0 0em var(--clr-primary), -1.8em -1.8em 0 0em rgba(45, 104, 245, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 104, 245, 0.2), 1.8em -1.8em 0 0em rgba(45, 104, 245, 0.2), 2.5em 0em 0 0em rgba(45, 104, 245, 0.2), 1.75em 1.75em 0 0em rgba(45, 104, 245, 0.2), 0em 2.5em 0 0em rgba(45, 104, 245, 0.2), -1.8em 1.8em 0 0em rgba(45, 104, 245, 0.5), -2.6em 0em 0 0em rgba(45, 104, 245, 0.7), -1.8em -1.8em 0 0em var(--clr-primary);
  }
}

.page-header h3{
  font-size: 1.2rem;
  margin: 1rem 0;
}